body {
            font-family: Georgia, serif;
            background-color:black;
            color: white;
            margin: 20px;
        }
        p {
            font-size: 16 px;
            text-align: left;
        }
        h1 {
            color: aqua;
            text-align: center;
        }
    </style>
.text {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}